<ion-view title="邀请函">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>邀访者</h4>
        <div class="list card">
            <div class="item item-divider">邀请函</div>
            <div class="item item-body">
                <h2>海亿达能源科技股份有限公司</h2>
                <div>
                    <h2>时间</h2>

                    <p>2012-12-12 12:00</p>

                    <h2>您的身份</h2>

                    <p>金地设施管理部部长</p>

                    <h2>地址</h2>

                    <p>南山区松坪山路5号加大研发大楼A座7楼</p>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
        <form class="list"></form>
        <button class="button button-balanced button-block ">确认赴约</button>
    </ion-content>
</ion-view>