<ion-view title="邀访">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>邀请函</h2>
        <form class="list">
            <label class="item item-input" name="name">
                <span class="input-label">姓名</span>
                <input type="text" placeholder="输入真实姓名">
            </label>
            <label class="item item-input">
                <span class="input-label">身份</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">公司</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">时间</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">地址</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">备注</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form class="list"></form>
        <button class="button button-calm button-block  icon-right ion-android-send">发送邀请</button>
    </ion-content>
</ion-view>