<ion-view title="主页">
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="消息" icon="ion-android-bulb" href="#/mainpage/messagelist">
          <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="邀访" icon="ion-ios-personadd" href="#/mainpage/invitePage">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="访问" icon="ion-ios-list-outline" href="#/mainpage/inviteList">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="来访" icon="ion-clipboard" href="#/mainpage/visitorList">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
