<ion-view title="消息列表">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>访问列表</h2>
        <form class="list"></form>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>海亿达能源科技股份有限公司</h2>
                <p>何以琛</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>海亿达能源科技股份有限公司</h2>
                <p>何以琛</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>