<ion-view title="注册">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input" name="repassword">
                    <span class="input-label">重复输入密码</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button class="button button-calm button-block ">注册</button>
        </form>
    </ion-content>
</ion-view>